:root {
  --NAVY_BLUE: #2E2F42;
  --light_slate: #8E8F99;
  --ocean: #404BBF;
  --cloud: #F4F4FD;
  --iris: #4D5AE5;
  --CORNFLOWER: #E7E9FC;
  --slate: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body :is(h1, h2, h3, ul, li) {
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* logo */
.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
  ;
  align-self: center;
}

.logo-web {
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

.container {
  padding: 0 16px;
  width: 320px;
  margin: 0 auto;
}

/* header */
.header-head {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation-menu {
  display: none;
}

.navigation-address {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.mobile-nav-svg {
  fill: #2F2F37;
}

.mobile-nav-butt {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  padding: 16px 0px;
}

/* Main */
main {
  flex-grow: 1;
}

/* Section main */

.section:not(:first-child) {
  padding: 96px 0;
}

.section-main {
  padding: 72px 0px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

.section-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0;
  max-width: 216px;
}



.section-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-main-button {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  margin-top: 72px;
  border-radius: 4px;
  border: 0;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-main-button:hover,
.section-main-button:focus {
  background-color: #404bbf;
}

/* section Char */

.char-icon {
  display: none;
}

.characteristics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.characteristics-title {
  color: var(--NAVY_BLUE);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.characteristics-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section team */

.team {
  background-color: #f4f4fd;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
}

.container.team-wrapper {
  padding: 0px 28px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-list-title {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.team-list {
  background-color: #ffffff;
  flex-basis: 264px;
}

.team-list-item {
  padding: 32px 0px;
  display: flex;
}

.team-card-socials-svg {
  fill: #f4f4fd;
}

.team-list-descr {
  text-align: center;
  color: #434455;
  font-size: 16px;
}

.team-card-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card-socials .team-card-socials-list {
  width: 40px;
  height: 40px;
}

.team-card-socials .team-card-socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-socials-item:hover,
.team-card-socials-item:focus {
  background-color: #404BBF;
}

/* section Char */
.portfolio-title {
  margin-bottom: 72px;
  text-transform: capitalize;
}

.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio-list-title {
  margin-bottom: 8px;
}

.portfolio-list-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  padding: 40px 32px;
  text-align: left;

  position: absolute;
  background-color: #4D5AE5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  position: relative;
  overflow: hidden;
}

.portfolio-list:hover .overlay {
  transform: translateY(0);
}

.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* footer */





.footer-panel {
  background: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}


.footer-panel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px 0px;
}

.footer-panel .logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-panel .logo-web {
  color: #f4f4fd;
}

.first-cont {
  display: flex;
  flex-direction: column;
}

.second-cont {
  display: flex;
  flex-direction: column;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-panel-wrapper .soc-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  align-self: center;
}

.footer-socials .footer-socials-svg {
  border-radius: 50%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-list {
  width: 40px;
  height: 40px;
}

.footer-socials-item {
  fill: #f4f4fd;
}

.footer-socials-svg:hover,
.footer-socials-svg:focus {
  background-color: #31D0AA;
}

.footer-form-button {
  display: flex;
  min-width: 165px;
  margin: 0 auto;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.04em;

  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-button-svg {
  fill: #fff;
  margin-left: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-par {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-email {
  padding-left: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
  width: 264px;
  height: 40px;

  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  line-height: 200%;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-email::placeholder {
  color: #FFFFFF;
}




/* Overlay */


.modal-overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;

}

.modal-overlay .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 24px 16px;
  overflow: auto;

}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: rgba(64, 75, 191, 1);
  border: none;
}

.modal-close-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-svg,
.modal-close-button:focus .modal-close-button-svg {
  fill: rgba(255, 255, 255, 1);
}


.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  color: var(--light_slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.04em;
  margin-top: 8px;
  margin-bottom: 4px;
  display: block;
}

.modal-overlay-par {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--NAVY_BLUE);
  font-family: "Roboto",
    sans-serif;
  margin-bottom: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-form-wrapper-comment {
  margin-bottom: 16px;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.form-textarea {
  width: 100%;
  height: 120px;

  font-size: 12px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within {
  border-color: #4D5AE5;
}

.adress-form-svg {
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.modal-form-cont {
  position: relative;
}


.input-with-svg {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-with-svg:focus-within {
  border-color: rgba(77, 90, 229, 1);
}


.input-with-svg:focus-within+.adress-form-svg {
  fill: rgba(77, 90, 229, 1);
}

.modal-form-cont-checkbox {
  margin-bottom: 24px;
}


.checkbox-label {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--light_slate);
  line-height: 117%;
  display: flex;
  gap: 8px;
  align-items: center;


}

.checkbox-label-cont {
  min-width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;


}


.privacy-link {
  color: var(--iris);
  line-height: 133%;

}

.modal-form-checkbox:checked+.checkbox-label>.checkbox-label-cont {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.footer-form-submit {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgba(77, 90, 229, 1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  min-width: 169px;
  cursor: pointer;
  letter-spacing: 0.04em;
  height: 56px;
  font-family: "Roboto",
    sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-submit:hover,
.footer-form-submit:focus {
  background-color: #404BBF;
}

/* mobile menu */
.mobile-menu-overlay a {
  text-decoration: none;
}

.mobile-overlay .footer-socials {
  gap: 40px;
}

.mobile-overlay {
  position: fixed;
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 998;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-overlay {
  position: absolute;
  background-color: #FFFFFF;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 72px 24px 40px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #EBEBEC;
  cursor: pointer;
  padding: 0px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-item.is-active {
  color: var(--ocean);
}

.mobile-menu-adress-list.is-active {
  color: var(--iris);
}

.mobile-menu-nav-item {
  color: var(--NAVY_BLUE);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
}

.mobile-menu-nav-item:hover,
.mobile-menu-nav-item:focus {
  color: var(--ocean);
}

.mobile-menu-adress {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-adress-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.mobile-menu-adress-item:hover,
.mobile-menu-adress-item:focus {
  color: var(--iris);
}










@media (min-width: 768px) {


  .container {
    padding: 0 16px;
    width: 768px;
    margin: 0 auto;
  }



  /* logo */

  .logo {
    margin-right: 120px;
  }


  /* Header */

  .mobile-nav-butt {
    display: none;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-wrapper .navigation {
    display: flex;
    align-items: center;

  }

  .header-wrapper ul {
    margin: 0;
    padding: 0;
  }

  .header-wrapper .navigation-menu {
    display: flex;
    gap: 40px;

  }

  header {
    background-color: #ffffff;

  }

  header a {
    text-decoration: none;
  }


  /* Menu nav */

  .navigation-menu-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
  }

  .navigation-menu-list.is-active {
    color: #404bbf;
  }

  .navigation-menu a:hover {
    color: #404bbf;
  }

  .navigation-menu-list:active,
  .navigation-menu-list:focus {
    color: #404bbf;
  }

  .navigation-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-menu-list.is-active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;

  }

  /* Menu address */
  .navigation-address {
    display: flex;
  }

  .navigation-address-list {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .navigation-address-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-address-contact:hover {
    color: #404bbf;
  }

  .navigation-address-contact:focus {
    color: #404bbf;
  }

  /* Main */


  /* Section main */
  .section-main {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tabl.jpg);
    min-width: 768px;
  }

  .section-main-title {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
  }

  .section-main-button {
    margin-top: 36px;
  }

  /* section Char */

  .characteristics-wrapper {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .characteristics-title {
    text-align: start;
  }



  .characteristics-wrapper-item {
    flex-basis: calc((100% - 24px)/2)
  }


  /* Section team */
  .team-wrapper.container {
    padding: 0 16px;
  }

  .team-wrapper.container {
    width: 584px;
  }

  .team-container {
    flex-direction: row;
    gap: 64px 24px;
  }

  .team-list {
    flex-basis: calc((100% - 24px)/2);
  }

  /* Section our portfolio */
  .portfolio-container {
    flex-direction: row;
    gap: 72px 24px;

  }

  .portfolio-list {
    flex-basis: calc((100% - 24px)/2);
  }

  /* footer */

  .footer-panel {
    padding: 96px 0;
  }

  .footer-panel-wrapper.container {
    width: 584px;
  }

  .footer-panel-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-panel .footer-panel-descr {
    max-width: 264px;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-panel .footer-panel-descr {
    max-width: 264px;
  }


  .subscribe-par {
    text-align: start;
  }

  .footer-panel-wrapper .soc-media {
    align-self: flex-start;
  }

  .footer-panel .logo {
    align-self: flex-start;
  }

  /* Overlay */

  .modal-overlay .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }




}








@media (min-width: 1158px) {



  .section:not(:first-child) {
    padding: 120px 0;
  }


  .container {
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }

  /* logo */


  .logo {
    margin-right: 76px;
  }


  /* Header */


  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-wrapper .navigation {
    display: flex;
    align-items: center;

  }

  .header-wrapper ul {
    margin: 0;
    padding: 0;
  }

  .header-wrapper .navigation-menu {
    display: flex;
    gap: 40px;

  }

  header {
    background-color: #ffffff;

  }

  header a {
    text-decoration: none;
  }





  /* Menu nav */

  .navigation-menu-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
  }

  .navigation-menu-list.is-active {
    color: #404bbf;
  }

  .navigation-menu a:hover {
    color: #404bbf;
  }

  .navigation-menu-list:active,
  .navigation-menu-list:focus {
    color: #404bbf;
  }

  .navigation-menu-list {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-menu-list.is-active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;

  }

  /* Menu address */
  .navigation-address {
    display: flex;
  }

  .navigation-address-list {
    font-style: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .navigation-address-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-address-contact:hover {
    color: #404bbf;
  }

  .navigation-address-contact:focus {
    color: #404bbf;
  }



  /* Section main */
  .section-main {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  }

  .section-main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
  }

  /* section Char */


  .char-icon {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    margin-bottom: 8px;
  }

  .characteristics-wrapper {
    flex-direction: row;
    gap: 24px;
  }

  .characteristics-wrapper-item {
    flex-basis: calc((100% - 3 * 24px)/4)
  }

  .characteristics-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: start;
  }

  .characteristics-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* Section our team */
  .team-container {
    flex-direction: row;
    gap: 24px;
  }

  .team-list {
    flex-basis: calc((100% - 3 * 24px)/4);
  }

  .container.team-wrapper {
    width: 1158px;
    padding: 0 15px;
  }

  /* Section our portfolio */

  .portfolio-container {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .portfolio-list {
    flex-basis: calc((100% - 48px)/3);
  }


  /* footer */
  .footer-panel {
    padding: 100px 0;
  }

  .footer-socials {
    display: flex;
    gap: 16px;
  }

  .footer-socials .footer-socials-svg {
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container.footer-panel-wrapper {
    width: 1158px;
  }


  .footer-socials-list {
    width: 40px;
    height: 40px;
  }

  .footer-socials-svg:hover,
  .footer-socials-svg:focus {
    background-color: #31D0AA;
  }

  .footer-panel-wrapper {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    gap: 0;
  }

  .first-cont {
    margin-right: 120px;
  }

  .second-cont {
    margin-right: 80px;
  }

  .footer-socials-item {
    fill: #f4f4fd;
  }

  .footer-panel-wrapper .soc-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    align-self: flex-start;
  }

  .footer-panel .logo {
    display: inline-block;
    margin-bottom: 16px;
    align-self: flex-start;

  }

  .footer-panel .logo-web {
    color: #f4f4fd;
  }

  .footer-form-button {
    display: flex;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: 0.04em;

    padding: 8px 24px;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .subscribe-button-svg {
    fill: #fff;
    margin-left: 16px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-par {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: start;
  }

  .subscribe-email {
    padding-left: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    width: 264px;
    height: 40px;

    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
    line-height: 200%;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .subscribe-email::placeholder {
    color: #FFFFFF;
  }

}

@media (min-resolution: 192dpi) {
  .section-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob@2x.jpg);
  }

  @media (min-width: 768px) {
    .section-main {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tabl@2x.jpg);
    }
  }


  @media (min-width: 1158px) {
    .section-main {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
    }
  }
}